{% extends 'base.html.twig.html' %}



{% block content %}





<h1>Cabinet Sandrine Coupart</h1>



<p>Diététicienne nutritionniste</p>


<p>Impasse des Lilas 47310 roquefort</p>

<p>06 38 82 06 51</p>





{% endblock %}
