{% extends 'base.html.twig.html' %}



{% block content %} 


	<h1>Mentions légales</h1>
	<h2>Editeur du site</h2>
	<p>Nom de la société</p>
	<p>Adresse postale de la société</p>
	<p>Téléphone : 01 XX XX XX XX</p>
	<p>Email : contact@nomdelasociete.com</p>

	<h2>Directeur de la publication</h2>
	<p>Nom du directeur de la publication</p>
	<p>Adresse postale du directeur de la publication</p>
	<p>Téléphone : 01 XX XX XX XX</p>
	<p>Email : directeur@nomdelasociete.com</p>

	<h2>Hébergement du site</h2>
	<p>Nom de la société d'hébergement</p>
	<p>Adresse postale de la société d'hébergement</p>
	<p>Téléphone : 01 XX XX XX XX</p>
	<p>Email : contact@hebergeur.com</p>

	<h2>Propriété intellectuelle</h2>
	<p>Tous les éléments du site, notamment les textes, graphismes, logos, images, icônes, et leur mise en forme sont la propriété exclusive de la société, à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</p>

	<h2>Données personnelles</h2>
	<p>Les données personnelles collectées sur le site sont utilisées uniquement dans le cadre de la relation commerciale entre la société et ses clients. Elles ne sont en aucun cas cédées ou vendues à des tiers.</p>

	<h2>Cookies</h2>
	<p>Le site utilise des cookies pour améliorer la navigation des utilisateurs. Ces cookies ne collectent pas de données personnelles et peuvent être désactivés à tout moment dans les paramètres du navigateur.</p>

	<h2>Modification des mentions légales</h2>
	<p>La société se réserve le droit de modifier à tout moment les présentes mentions légales. Les utilisateurs du site sont donc invités à les consulter régulièrement.</p>


{% endblock %}
