{% extends 'base.html.twig.html' %}



{% block content %} 


<main>
		<section>
			<h2>Notre histoire</h2>
			<p>Notre entreprise de diététique a été fondée en [année] par [nom du fondateur]. Nous avons commencé en tant que petite boutique de produits diététiques, mais au fil des années, nous avons élargi notre gamme de produits et services pour inclure des conseils nutritionnels personnalisés, des programmes de perte de poids, des ateliers de cuisine saine et plus encore. Nous sommes passionnés par la promotion d'un mode de vie sain et équilibré pour nos clients.</p>
		</section>
		
		<section>
			<h2>Nos valeurs</h2>
			<ul>
				<li>Santé : nous croyons que la santé est notre bien le plus précieux et nous nous engageons à aider nos clients à atteindre leurs objectifs de santé.</li>
				<li>Ethique : nous nous engageons à respecter les normes éthiques les plus élevées dans toutes nos activités commerciales et à traiter nos clients avec respect et professionnalisme.</li>
				<li>Education : nous croyons que l'éducation est la clé pour permettre à nos clients de prendre des décisions éclairées sur leur santé et leur nutrition.</li>
			</ul>
		</section>
		
		<section>
			<h2>Notre équipe</h2>
			<p>Nous avons une équipe passionnée de nutritionnistes et de diététiciens qualifiés qui travaillent ensemble pour offrir des programmes personnalisés pour aider nos clients à atteindre leurs objectifs de santé. Si vous souhaitez en savoir plus sur notre équipe, rendez-vous sur notre page Équipe.</p>
		</section>
</main>

{% endblock %}
