{% extends 'base.html.twig.html' %}



{% block content %} 



	<h1>Politique de confidentialité</h1>
	
	<h2>1. Collecte et utilisation des données personnelles</h2>
	<p>Nous collectons des données personnelles telles que le nom, l'adresse email et le numéro de téléphone lorsque vous remplissez un formulaire de contact sur notre site ou lorsque vous effectuez une commande. Ces informations sont utilisées pour répondre à vos demandes ou traiter votre commande. Nous ne vendrons ni ne louerons jamais vos données à des tiers.</p>
	
	<h2>2. Cookies</h2>
	<p>Nous utilisons des cookies sur notre site pour améliorer l'expérience utilisateur et faciliter la navigation. Les cookies sont de petits fichiers texte stockés sur votre ordinateur qui permettent de reconnaître votre navigateur lorsque vous visitez à nouveau notre site. Nous n'utilisons pas les cookies pour collecter des données personnelles. Vous pouvez refuser les cookies en modifiant les paramètres de votre navigateur, mais cela peut affecter la qualité de votre expérience sur notre site.</p>
	
	<h2>3. Sécurité des données</h2>
	<p>Nous prenons des mesures de sécurité appropriées pour protéger vos données personnelles contre les accès non autorisés, la divulgation ou la modification. Nous utilisons des protocoles de cryptage pour protéger les informations sensibles transmises en ligne. Cependant, nous ne pouvons pas garantir la sécurité absolue de vos données personnelles.</p>
	
	<h2>4. Accès et modification de vos données personnelles</h2>
	<p>Vous avez le droit d'accéder à vos données personnelles et de les modifier ou de les supprimer si elles sont inexactes. Vous pouvez également demander à ce que vos données soient supprimées de nos serveurs. Pour cela, contactez-nous par email à l'adresse suivante : [adresse email].</p>
	
	<h2>5. Modifications de la politique de confidentialité</h2>
	<p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Nous vous encourageons à consulter cette page régulièrement pour prendre connaissance des changements éventuels.</p>




{% endblock %}
